
{% extends "blog/base.html" %}

{% block content %}

    {% for post in posts %}
        {% if post.published_date == None %}
            <p class="published">publicado em: Não preenchido</p>
        {% else %}
            <p class="published">publicado em: {{ post.published_date }}</p>
        {% endif %}
        <h2 class="blog-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p class="blog-text">{{ post.text|linebreaksbr }}</p>
    {% endfor %}

{% endblock  %}
