.header {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

@font-face {
    font-family: AlfaSlabOne;
    src: url('../fonts/AlfaSlabOne.ttf')
}

h1 {
    color: darkblue;
    font-family: AlfaSlabOne;
}

.content {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: black solid 2px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.published {
    margin-bottom: 0;
    color: darkblue;
    font-family: AlfaSlabOne;
}

.blog-title {
    background-color: grey;
    margin: 0;
    padding: 10px 10px;
    font-family: AlfaSlabOne;
    color: navy;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: white;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration:none; 
}

.blog-text {
    background-color: lightgrey;
    margin: 0;
    padding: 5px 5px;
    font-family: AlfaSlabOne;
}

@media screen and (max-width: 990px){
    .header, .content {
        width: 300px;
    }

    textarea {
        max-width: 200px;
    }
}

.menu {
    border: 2px black solid;
    background-color: grey;
    margin-bottom: 5%;
    padding: 1%;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

button {
    border: 1px black solid;
    height: 30px;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    font-family: AlfaSlabOne;
}

.date {
    font-family: AlfaSlabOne;
}

.create-form {
    font-family: AlfaSlabOne;
}

#id_text {
    border: 2px solid black !important;
    resize: none;
}

#id_title {
    border: 2px solid black !important;
}

label {
    font-family: AlfaSlabOne !important;
}

